#top {
  min-height: 100vh;
}

.is-shadowed {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
}

.is-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.notification .button.is-warning {
  height: 24px;
}

.is-vbordered {
  border-top: 1px #dbdbdb solid;
  border-bottom: 1px #dbdbdb solid;
}

.has-left-0 {
  left: 0;
}